<p>ServerList v0.5</p>
<li class="nav-item">
    <a href="/dashboard" class="collapsed">
        <i class="fas fa-qrcode"></i>
        <p>Go Back</p>
    </a>
</li>    
<p>--------------------------------------------------</p>
<p>                      **Exclusive:**</p>
<p>Futuristic Development</p>
<p>Discord: https://discord.gg/3PrNzYNc6W</p>
<p>About: Founders and Creators of this project</p>
<p>--------------------------------------------------</p>
<p>                       **Servers:**</p>
<p>Example Server</p>
<p>Server IP: 0.0.0.0</p>
<p>Server PORT: 25000</p>
<p>Discord Invite: </p>
<p>Plugins: </p>
<p>Server Version: PaperMC</p>
<p>Game: Minecraft</p>
<p>About: TEST</p>
<p>--------------------------------------------------</p>

<p>Hello from Joseph_#6390</p>